
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    hello from mts channel
    <link href="~/lib/boostrap/dist/css/bootstrap.min.css"  rel="stylesheet"/>
</head>
<body>

    <a href="#" class="btn btn-success" >content</a>
</body>
</html>
