@page
@model AspNetCoreMVC2.introduction.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Hello From my razer Pages</h1>
    <p>date :@DateTime.Now</p>
    <p>@Model.Message</p>
</body>
</html>
